{% comment %} prev and next {% endcomment %}
{%- if page.url != "/search.html" and page.url != "/404.html" -%}
    {%- if next or prev -%}
        <div class="navigation-bottom d-flex flex-justify-between py-3" role="navigation"
             aria-label="footer navigation">
            <div class="prev">
                {%- if prev -%}
                    <a href="{{ prev.url | relative_url }}" class="btn" title="{{ prev.title }}" accesskey="p"
                       rel="prev">
                        <i class="fa fa-arrow-circle-left"></i> {{ __.previous | default: "Previous" }}
                    </a>
                {%- endif -%}
            </div>
            <div class="next">
                {%- if next -%}
                    <a href="{{ next.url | relative_url }}" class="btn" title="{{ next.title }}" accesskey="n"
                       rel="next">
                        {{ __.next | default: "Next" }} <i class="fa fa-arrow-circle-right"></i>
                    </a>
                {%- endif -%}
            </div>
        </div>
    {%- endif -%}
{%- endif -%}

<hr>

<div class="copyright text-center text-gray" role="contentinfo">
    <i class="fa fa-copyright"></i>
    <span class="time">
        {%- assign created_time = rest_created_at | date: "%Y" -%}
        {%- assign updated_time = rest_updated_at | date: "%Y" -%}
        {%- if created_time == updated_time -%}
            {{- created_time -}},
        {%- else -%}
            {{- created_time }}-{{ updated_time -}},
        {%- endif -%}
    </span>
    <a class="text-gray" href="{{ docs.owner_url }}" rel="noreferrer" target="_blank">
        {{- author -}}
    </a>
    {{ __.revision | default: "Revision" }}
    <a class="text-gray" href="{{ docs.repository_url }}/commit/{{ docs.build_revision }}"
       title="{{ docs.build_revision }}" rel="noreferrer" target="_blank">
        {{- docs.build_revision | slice: 0, 7 -}}
    </a>
    {% unless site.url contains "rundocs.io" %}
        <br>
        <div class="generator">
            Built with
            <a href="https://pages.github.com" rel="noreferrer" target="_blank"
               title="github-pages v{{ docs.versions.github-pages }}">GitHub Pages</a>
            using a
            <a href="https://github.com/{{ theme_alias | split: '@' | first }}" rel="noreferrer" target="_blank"
               title="{{ generator }} v{{ version }}">theme</a>
            provided by
            <a href="https://rundocs.io" rel="noreferrer" target="_blank">RunDocs</a>.
        </div>

        <div class="row">
            <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                <ul class="list-inline text-center footer-links">
                    <li class="list-inline-item">
                        <a href="mailto:libredevops@craigthacker.dev" title="Email me">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
      </span>
                            <span class="sr-only">Email me</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/libre-devops" title="GitHub">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
      </span>
                            <span class="sr-only">GitHub</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://registry.terraform.io/namespaces/libre-devops" title="Terraform Registry">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-code fa-stack-1x fa-inverse"></i>
      </span>
                            <span class="sr-only">Terraform Registry</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://hub.docker.com/u/libre-devops" title="Docker Hub">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-docker fa-stack-1x fa-inverse"></i>
      </span>
                            <span class="sr-only">Docker Hub</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://keybase.io/teams/libredevops" title="Keybase">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-keybase fa-stack-1x fa-inverse"></i>
      </span>
                            <span class="sr-only">Docker Hub</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    {% endunless %}
</div>